@using Pack.Models;

<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>Parcels</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    <link href="~/css/styles.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <div class="container">
        <h2>My Pack List</h2>
        <form action="/packitems/update" method="post">
          <ul>
            @foreach (PackItem packItem in Model)
            {
                @if (packItem.Packed == true)
                {
                  <li> 
                    <input class="yes" type="checkbox" name="item" value="@packItem.ID">
                    @packItem.Name  @packItem.Size @packItem.Packed
                  </li>
                }
                else
                {
                  <li> 
                    <input type="checkbox" name="item" value="@packItem.ID">
                    @packItem.Name  @packItem.Size @packItem.Packed
                  </li>
                }

            }
            </ul>
            <button type="submit" class="btn btn-warning">Update Checklist</button>
          </form>

  </body>
</html>